## KNN

In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("C://Users//shash//OneDrive//Desktop//Sales.csv")
print(df.head())

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00             1
1  03.01.2013               0       25     2552      899.00             1
2  05.01.2013               0       25     2552      899.00            -1
3  06.01.2013               0       25     2554     1709.05             1
4  15.01.2013               0       25     2555     1099.00             1

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1048575 non-null  object
 1   date_block_num  1048575 non-null  int64
 2   shop_id         1048575 non-null  int64
 3   item_id         1048575 non-null  int64
 4   item_price      1048575 non-null  float64
 5   item_cnt_day    1048575 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 48.0+ MB
None

In [3]:
df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1
1,03.01.2013,0,25,2552,899.00,1
2,05.01.2013,0,25,2552,899.00,-1
3,06.01.2013,0,25,2554,1709.05,1
4,15.01.2013,0,25,2555,1099.00,1
...,...,...,...,...,...,...
1048570,07.11.2013,10,37,18474,199.00,1
1048571,18.11.2013,10,37,18474,199.00,1
1048572,24.11.2013,10,37,18484,199.00,1
1048573,11.11.2013,10,37,19751,99.00,1
1048574,26.11.2013,10,37,18498,199.00,1

In [20]:
df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [25]:
# Strip whitespace from column names just in case
df.columns = df.columns.str.strip()

# Now drop 'date' if it exists
if 'date' in df.columns:
    df = df.drop(columns=['date'])

In [26]:
# Define features and target
X = df.drop(columns=['item_cnt_day'])
y = df['item_cnt_day']

In [27]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [28]:
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [29]:
# Try different values of k
for k in [1, 3, 5]:
    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train_scaled, y_train)
    y_pred = knn.predict(X_test_scaled)

    print(f'\nk = {k}')
    print("MSE:", mean_squared_error(y_test, y_pred))
    print("RÂ² Score:", r2_score(y_test, y_pred))

k = 1
MSE: 2.7635314593615146
RÂ² Score: -0.15181303828189052

k = 3
MSE: 2.015372714821967
RÂ² Score: 0.1600122509675238

k = 5
MSE: 1.893109601125337
RÂ² Score: 0.21097032780782

In [30]:
for k in [1, 3, 5]:
    knn = KNeighborsRegressor(n_neighbors=k, weights='distance')
    knn.fit(X_train_scaled, y_train)
    y_pred = knn.predict(X_test_scaled)

    print(f'\nDistance-weighted k = {k}')
    print("MSE:", mean_squared_error(y_test, y_pred))
    print("RÂ² Score:", r2_score(y_test, y_pred))

Distance-weighted k = 1
MSE: 2.7635314593615146
RÂ² Score: -0.15181303828189052

Distance-weighted k = 3
MSE: 2.201595893456511
RÂ² Score: 0.08239624104118048

Distance-weighted k = 5
MSE: 2.102515017985607
RÂ² Score: 0.12369218642482316

## linear regression

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error

In [32]:
# Load the dataset
df = pd.read_csv('C://Users//shash//OneDrive//Desktop//Sales.csv')

In [33]:
# Clean column names
df.columns = df.columns.str.strip()

In [34]:
# Drop 'date' column if present
if 'date' in df.columns:
    df = df.drop(columns=['date'])

In [35]:
# Define features and target
X = df.drop(columns=['item_cnt_day'])
y = df['item_cnt_day']

In [36]:
# Split into training and testing data
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [37]:
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [38]:
# Train linear regression model
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

LinearRegression()

In [39]:
# Make predictions
y_pred = lr.predict(X_test_scaled)

In [44]:
# Evaluate the model
print("Linear Regression Performance:")
print("MSE:", mean_squared_error(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RÂ² Score:", r2_score(y_test, y_pred))

Linear Regression Performance:
MSE: 2.3943586938821833
MAE: 0.4034344279992897
RÂ² Score: 0.0020545803468903223